# Automatically assign the team as a reviewer.
# https://help.github.com/en/articles/about-code-owners

# Default owners, overridden by file/directory specific owners below
* @DataDog/apm-java

# @DataDog/apm-idm-java
dd-java-agent/instrumentation/              @DataDog/apm-idm-java

# @DataDog/profiling-java
dd-java-agent/agent-profiling/                                                             @DataDog/profiling-java
dd-java-agent/agent-crashtracking/                                                         @DataDog/profiling-java
dd-java-agent/instrumentation/exception-profiling/                                         @DataDog/profiling-java
dd-java-agent/instrumentation/java-directbytebuffer/                                       @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java/datadog/trace/bootstrap/instrumentation/jfr/   @DataDog/profiling-java
dd-java-agent/agent-bootstrap/src/main/java11/datadog/trace/bootstrap/instrumentation/jfr/ @DataDog/profiling-java
dd-smoke-tests/profiling-integration-tests/                                                @DataDog/profiling-java

# @DataDog/ci-app-libraries-java
dd-java-agent/agent-ci-visibility/              @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/cucumber/         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/jacoco/           @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-4.10/       @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/junit-5.3/        @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/karate/           @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/scalatest/        @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/selenium/         @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/testng/           @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle-3.0/       @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle-8.3/       @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/gradle-testing/   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-3.2.1/      @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/maven-surefire/   @DataDog/ci-app-libraries-java
dd-java-agent/instrumentation/weaver/           @DataDog/ci-app-libraries-java
dd-smoke-tests/gradle/                          @DataDog/ci-app-libraries-java
dd-smoke-tests/maven/                           @DataDog/ci-app-libraries-java
**/civisibility/                                @DataDog/ci-app-libraries-java
**/CiVisibility*.java                           @DataDog/ci-app-libraries-java
**/CiVisibility*.groovy                         @DataDog/ci-app-libraries-java

# @DataDog/debugger-java (Live Debugger)
dd-java-agent/agent-debugger/ @DataDog/debugger-java
dd-smoke-tests/debugger-integration-tests/ @DataDog/debugger-java

# @DataDog/asm-java (AppSec/IAST)
dd-java-agent/agent-iast/              @DataDog/asm-java
dd-java-agent/instrumentation/*iast*   @DataDog/asm-java
dd-java-agent/instrumentation/*appsec* @DataDog/asm-java
dd-java-agent/instrumentation/json/    @DataDog/asm-java
dd-java-agent/instrumentation/snakeyaml/    @DataDog/asm-java
dd-java-agent/instrumentation/velocity/    @DataDog/asm-java
dd-java-agent/instrumentation/freemarker/    @DataDog/asm-java
dd-smoke-tests/iast-util/              @DataDog/asm-java
dd-smoke-tests/spring-security/        @DataDog/asm-java
dd-java-agent/instrumentation/commons-fileupload/    @DataDog/asm-java
dd-java-agent/instrumentation/spring-security-5/ @DataDog/asm-java
**/appsec/                             @DataDog/asm-java
**/iast/                               @DataDog/asm-java
**/Iast*.java                          @DataDog/asm-java
**/Iast*.groovy                        @DataDog/asm-java
**/rasp/                               @Datadog/asm-java
**/*Rasp*.java                         @DataDog/asm-java
**/*Rasp*.groovy                       @DataDog/asm-java
**/*Waf*.java                          @DataDog/asm-java
**/*Waf*.groovy                        @DataDog/asm-java

# @DataDog/data-jobs-monitoring
dd-java-agent/instrumentation/spark/            @DataDog/data-jobs-monitoring
dd-java-agent/instrumentation/spark-executor/   @DataDog/data-jobs-monitoring

# @DataDog/data-streams-monitoring
dd-java-agent/testing/src/main/groovy/datadog/trace/agent/test/datastreams  @DataDog/data-streams-monitoring
dd-trace-core/src/main/java/datadog/trace/core/datastreams                  @DataDog/data-streams-monitoring
dd-trace-core/src/test/groovy/datadog/trace/core/datastreams                @DataDog/data-streams-monitoring
internal-api/src/main/java/datadog/trace/api/datastreams                    @DataDog/data-streams-monitoring
internal-api/src/test/groovy/datadog/trace/api/datastreams                  @DataDog/data-streams-monitoring
