[submodule "dd-java-agent/agent-jmxfetch/integrations-core"]
	path = dd-java-agent/agent-jmxfetch/integrations-core
	url = https://github.com/DataDog/integrations-core.git
[submodule "vendor/jmc"]
	path = vendor/jmc
	url = https://github.com/JDKMissionControl/jmc.git
