<h1>Sample Velocity template</h1>

Value of <code>q</code> attribute accessed via:

<ul>
    <li>\$q: $q</li>
    <li>\$esc.html(\$q): $esc.html($q)</li>
#set($q2 = $q)
    <li>\#set(\$q2 = \$q) \$esc.html(\$q2): $esc.html($q2)</li>
</ul>

