version: 2.1

defaults: &defaults
  working_directory: ~/dd-trace-java
  resource_class: xlarge
  docker:
    - image: &default_container datadog/dd-trace-java-docker-build:latest

cache_keys: &cache_keys
  keys:
    # Rev the version when the cache gets too big
    - dd-trace-java-v1-{{ .Branch }}-{{ .Revision }}
    - dd-trace-java-v1-{{ .Branch }}
    # - dd-trace-java-v1-

commands:
  setup_code:
    steps:
      - checkout
      - run:
          name: Checkout merge commit
          command: |
            CIRCLE_PR_NUMBER="${CIRCLE_PR_NUMBER:-${CIRCLE_PULL_REQUEST##*/}}"

            if [[ -n "${CIRCLE_PR_NUMBER}" ]]
            then
              FETCH_REFS="${FETCH_REFS} +refs/pull/${CIRCLE_PR_NUMBER}/merge:pr/${CIRCLE_PR_NUMBER}/merge"
              git fetch -u origin ${FETCH_REFS}
              git checkout "pr/${CIRCLE_PR_NUMBER}/merge"
            fi
      - attach_workspace:
          at: .

jobs:
  build:
    <<: *defaults

    steps:
      - setup_code

      - restore_cache:
          <<: *cache_keys

      - run:
          name: Build Project
          command: GRADLE_OPTS="-Dorg.gradle.jvmargs='-Xmx1G -Xms64M' -Ddatadog.forkedMaxHeapSize=1G -Ddatadog.forkedMinHeapSize=64M" ./gradlew clean :dd-java-agent:shadowJar compileTestGroovy compileLatestDepTestGroovy compileTestScala compileLatestDepTestScala compileTestJava compileLatestDepTestJava --build-cache --parallel --stacktrace --no-daemon --max-workers=8

      - run:
          name: Collect Libs
          when: always
          command: .circleci/collect_libs.sh

      - store_artifacts:
          path: ./libs

      - persist_to_workspace:
          root: .
          paths:
            - .gradle
            - workspace

      - save_cache:
          key: dd-trace-java-v1-{{ .Branch }}-{{ .Revision }}
          paths: ~/.gradle


  default_test_job: &default_test_job
    <<: *defaults

    docker:
      - image: *default_container
        # This is used by spymemcached instrumentation tests
      - image: memcached
        # This is used by rabbitmq instrumentation tests
      - image: rabbitmq

    parameters:
      testTask:
        type: string
      prefixTestTask:
        default: false
        type: boolean

    steps:
      - setup_code

      - restore_cache:
          <<: *cache_keys

      - run:
          name: Run Tests
          command:  >-
            GRADLE_OPTS="-Ddatadog.forkedMaxHeapSize=4G -Ddatadog.forkedMinHeapSize=64M"
            ./gradlew <<# parameters.prefixTestTask>>testJava<</ parameters.prefixTestTask>><< parameters.testTask >> --build-cache --parallel --stacktrace --no-daemon --max-workers=6

      - run:
          name: Collect Reports
          when: on_fail
          command: .circleci/collect_reports.sh

      - store_artifacts:
          path: ./reports

      - run:
          name: Collect Test Results
          when: always
          command: .circleci/collect_results.sh

      - store_test_results:
          path: ./results

  agent_integration_tests:
    <<: *default_test_job
    docker:
      - image: *default_container
      - image: datadog/docker-dd-agent
        environment:
          - DD_APM_ENABLED=true
          - DD_BIND_HOST=0.0.0.0
          - DD_API_KEY=invalid_key_but_this_is_fine

  check:
    <<: *defaults

    steps:
      - setup_code

      - restore_cache:
          <<: *cache_keys

      - run:
          name: Build Project
          command: GRADLE_OPTS="-Ddatadog.forkedMaxHeapSize=4G -Ddatadog.forkedMinHeapSize=64M" ./gradlew check -PskipTests --build-cache --parallel --stacktrace --no-daemon --max-workers=8

      - run:
          name: Collect Reports
          when: always
          command: .circleci/collect_reports.sh

      - store_artifacts:
          path: ./reports

  muzzle:
    <<: *defaults
    parallelism: 8
    steps:
      - setup_code

      # We are not running with a cache here because it gets very big and ends up taking more time
      # restoring/saving than the actual increase in time it takes just downloading the artifacts each time.

      - run:
          name: Gather muzzle tasks
          command: SKIP_BUILDSCAN="true" ./gradlew writeMuzzleTasksToFile --stacktrace --no-daemon
      - run:
          name: Verify Muzzle
          command: >-
            SKIP_BUILDSCAN="true"
            GRADLE_OPTS="-Dorg.gradle.jvmargs='-Xmx4G -Xms64M' -Ddatadog.forkedMaxHeapSize=4G -Ddatadog.forkedMinHeapSize=64M"
            ./gradlew `circleci tests split workspace/build/muzzleTasks | xargs` --parallel --stacktrace --no-daemon --max-workers=16

workflows:
  build_test_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/

      - default_test_job:
          requires:
            - build
          prefixTestTask: true
          name: test_<< matrix.testTask >>
          matrix:
            parameters:
              testTask: ["7", "IBM8", "ZULU8", "11", "ZULU11", "12", "13", "ZULU13", "14", "ZULU14" ]
          filters:
            tags:
              only: /.*/

      - default_test_job:
          requires:
            - build
          name: test_8
          testTask: test jacocoTestReport jacocoTestCoverageVerification
          filters:
            tags:
              only: /.*/

      - default_test_job:
          requires:
            - build
          name: test_latest8
          testTask: latestDepTest
          filters:
            tags:
              only: /.*/

      - agent_integration_tests:
          requires:
            - build
          testTask: traceAgentTest
          filters:
            tags:
              only: /.*/

      - check:
          requires:
            - build
          filters:
            tags:
              only: /.*/

      - muzzle:
          requires:
            - build
          filters:
            branches:
              ignore: master
