[versions]
# NOTE: Ranges for some versions are needed to allow instrumentation tests to specify the desired version.

# Build
develocity = "4.2.2"
forbiddenapis = "3.10"
spotbugs_annotations = "4.9.8"

# DataDog libs and forks
ddprof = "1.36.0"
dogstatsd = "4.4.3"
okhttp = "3.12.15" # Datadog fork to support Java 7

# Languages
## Groovy
groovy = "3.0.25"

## Kotlin
kotlin = "1.6.21"
kotlin-plugin = "2.0.21"
kotlinx-coroutines = "1.3.0"

## Scala
scala = "2.11.12" # Last version to support Java 7 (2.12+ require Java 8+)
scala211 = "2.11.12"
scala212 = "2.12.18"
scala213 = "2.13.11"
scala33 = "3.3.0"

# Bytecode manipulations & codegen
autoservice = "1.1.1"
asm = "9.9.1"
byte-buddy = "1.18.3"
instrument-java = "0.0.3"

# Benchmarks
jmh = "1.37"

# Profiling
jmc = "8.1.0"

# Web & Network
jnr-unixsocket = "0.38.22"
okhttp-legacy = "[3.0,3.12.12]" # 3.12.x is last version to support Java7
okio = "1.17.6" # Datadog fork

# Cryptography
cafe_crypto = "0.1.0"

# Common utils
commons = "3.2"
guava = "[16.0,20.0]" # Last version to support Java 7
javaparser = "3.24.4"
jctools = "3.3.0"
lz4 = "1.7.1"

# Logging
slf4j = "1.7.30"
logback = "1.2.13"

# JSON
jackson = "2.20.0"
moshi = "1.11.0"

# Testing
junit4 = "4.13.2"
junit5 = "5.14.1"
junit-platform = "1.14.1"
mockito = "4.4.0"
spock = "2.4-groovy-3.0"
testcontainers = "1.21.4"

[libraries]
# Build
develocity = { module = "com.gradle:develocity-gradle-plugin", version.ref = "develocity" }
forbiddenapis = { module = "de.thetaphi:forbiddenapis", version.ref = "forbiddenapis" }
spotbugs-annotations = { module = "com.github.spotbugs:spotbugs-annotations", version.ref = "spotbugs_annotations" }

# DataDog libs and forks
ddprof = { module = "com.datadoghq:ddprof", version.ref = "ddprof" }
dogstatsd = { module = "com.datadoghq:java-dogstatsd-client", version.ref = "dogstatsd" }
okhttp = { module = "com.datadoghq.okhttp3:okhttp", version.ref = "okhttp" }

# Languages
## Groovy
groovy = { module = "org.codehaus.groovy:groovy", version.ref = "groovy" }
groovy-json = { module = "org.codehaus.groovy:groovy-json", version.ref = "groovy" }
groovy-templates = { module = "org.codehaus.groovy:groovy-templates", version.ref = "groovy" }
groovy-yaml = { module = "org.codehaus.groovy:groovy-yaml", version.ref = "groovy" }
groovy-xml = { module = "org.codehaus.groovy:groovy-xml", version.ref = "groovy" }

## Kotlin
kotlin = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }
coroutines = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "kotlinx-coroutines" }

## Scala
scala = { module = "org.scala-lang:scala-library", version.ref = "scala" }
scala211 = { module = "org.scala-lang:scala-library", version.ref = "scala211" }
scala212 = { module = "org.scala-lang:scala-library", version.ref = "scala212" }
scala213 = { module = "org.scala-lang:scala-library", version.ref = "scala213" }
scala33 = { module = "org.scala-lang:scala3-library_3", version.ref = "scala33" }

# Bytecode manipulations & codegen
autoservice-processor = { module = "com.google.auto.service:auto-service", version.ref = "autoservice" }
autoservice-annotation = { module = "com.google.auto.service:auto-service-annotations", version.ref = "autoservice" }
asm = { module = "org.ow2.asm:asm", version.ref = "asm" }
asm-commons = { module = "org.ow2.asm:asm-commons", version.ref = "asm" }
asm-tree = { module = "org.ow2.asm:asm-tree", version.ref = "asm" }
asm-util = { module = "org.ow2.asm:asm-util", version.ref = "asm" }
bytebuddy = { module = "net.bytebuddy:byte-buddy", version.ref = "byte-buddy" }
bytebuddyagent = { module = "net.bytebuddy:byte-buddy-agent", version.ref = "byte-buddy" }
instrument-java = { module = "com.datadoghq:dd-instrument-java", version.ref = "instrument-java" }

# Profiling
jmc-common = { module = "org.openjdk.jmc:common", version.ref = "jmc" }
jmc-flightrecorder = { module = "org.openjdk.jmc:flightrecorder", version.ref = "jmc" }

# Web & Network
okio = { module = "com.datadoghq.okio:okio", version.ref = "okio" }
jnr-unixsocket = { module = "com.github.jnr:jnr-unixsocket", version.ref = "jnr-unixsocket"}

# Cryptography
cafe-crypto-ed25519 = { module = "cafe.cryptography:ed25519-elisabeth", version.ref = "cafe_crypto" }
cafe-crypto-curve25519 = { module = "cafe.cryptography:curve25519-elisabeth", version.ref = "cafe_crypto" }

# Common utils
aircompressor = { module = "io.airlift:aircompressor", version = "2.0.2"} # aircompressor v3 requires Java 22
commons-math = { module = "org.apache.commons:commons-math3", version.ref = "commons" }
guava = { module = "com.google.guava:guava", version.ref = "guava" }
javaparser = {module = "com.github.javaparser:javaparser-core", version.ref = "javaparser"}
javaparser-symbol-solver = {module = "com.github.javaparser:javaparser-symbol-solver-core", version.ref = "javaparser"}
jctools = { module = "org.jctools:jctools-core", version.ref = "jctools" }
lz4 = { module = "org.lz4:lz4-java", version.ref = "lz4" }

# Logging
logback-classic = { module = "ch.qos.logback:logback-classic", version.ref = "logback" }
logback-core = { module = "ch.qos.logback:logback-core", version.ref = "logback" }
log4j-over-slf4j = { module = "org.slf4j:log4j-over-slf4j", version.ref = "slf4j" }
jcl-over-slf4j = { module = "org.slf4j:jcl-over-slf4j", version.ref = "slf4j" }
jul-to-slf4j = { module = "org.slf4j:jul-to-slf4j", version.ref = "slf4j" }
slf4j = { module = "org.slf4j:slf4j-api", version.ref = "slf4j" }

# JSON
jackson-databind = {module = "com.fasterxml.jackson.core:jackson-databind", version.ref = "jackson"}
moshi = { module = "com.squareup.moshi:moshi", version.ref = "moshi" }

# Testing
junit4 = { module = "junit:junit", version.ref = "junit4" }
junit-jupiter = { module = "org.junit.jupiter:junit-jupiter", version.ref = "junit5" }
junit-jupiter-params = { module = "org.junit.jupiter:junit-jupiter-params", version.ref = "junit5" }
junit-jupiter-engine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "junit5" }
junit-platform-launcher = { module = "org.junit.platform:junit-platform-launcher", version.ref = "junit-platform" }
mokito-core = { module = "org.mockito:mockito-core", version.ref = "mockito" }
mokito-junit-jupiter = { module = "org.mockito:mockito-junit-jupiter", version.ref = "mockito" }
objenesis = { module = "org.objenesis:objenesis", version = "3.3" } # Used by Spock for mocking:
spock-core = { module = "org.spockframework:spock-core", version.ref = "spock" }
spock-junit4 = { module = "org.spockframework:spock-junit4", version.ref = "spock" }
spock-spring = { module = "org.spockframework:spock-spring", version.ref = "spock" }
testcontainers = { module = "org.testcontainers:testcontainers", version.ref = "testcontainers" }
testcontainers-localstack = { module = "org.testcontainers:localstack", version.ref = "testcontainers" }

[bundles]
# Bytecode manipulations & codegen
asm = ["asm", "asm-commons"]
cafe-crypto = ["cafe-crypto-curve25519", "cafe-crypto-ed25519"]

# Profiling
jmc = ["jmc-common", "jmc-flightrecorder"]

# Logging
test-logging = ["logback-classic", "log4j-over-slf4j", "jcl-over-slf4j", "jul-to-slf4j"]

# Testing
junit5 = ["junit-jupiter", "junit-jupiter-params"]
junit-platform = ["junit-platform-launcher"]
mockito = ["mokito-core", "mokito-junit-jupiter", "bytebuddy", "bytebuddyagent"]
groovy = ["groovy", "groovy-json"]
spock = ["spock-core", "objenesis"]
