<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Appenders>
    <File name="FILE" fileName="${sys:dd.test.logfile}" immediateFlush="true" append="false">
      <PatternLayout pattern="Log4j2 %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %X{dd.trace_id} %X{dd.span_id} - %m%n"/>
    </File>
  </Appenders>

  <Loggers>
    <Root level="debug">
      <AppenderRef ref="FILE"/>
    </Root>
  </Loggers>
</Configuration>
