<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${dd.test.logfile}</file>
    <append>false</append>
    <immediateFlush>true</immediateFlush>

    <encoder>
      <pattern>Logback %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %X{dd.service} %X{dd.env} %X{dd.version} %X{dd.trace_id} %X{dd.span_id} - %m%n</pattern>
    </encoder>
  </appender>

  <appender name="JSONFILE" class="ch.qos.logback.core.FileAppender">
    <file>${dd.test.jsonlogfile}</file>
    <append>false</append>
    <immediateFlush>true</immediateFlush>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"backend":"Logback"}</customFields>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
    <appender-ref ref="JSONFILE" />
  </root>
</configuration>
