<configuration>
  <appender name="TEST" class="datadog.trace.test.logging.TestLogbackAppender"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="DEBUG">
    <appender-ref ref="TEST"/>
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
