name: Check Pull Request CI Status

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  checks: read
  statuses: read

jobs:
  check-ci-pipelines:
    # Do not change this name, it must be equal to job id
    # https://github.com/DataDog/ensure-ci-success/blob/main/docs/limitations.md#do-not-set-a-name-to-the-job-shipping-ensure-ci-success
    name: check-ci-pipelines  
    runs-on: ubuntu-latest
    steps:
      - name: Run Ensure CI Success
        uses: DataDog/ensure-ci-success@727e7fe39ae2e1ce7ea336ec85a7369ab0731754
        with:
          initial-delay-seconds: "1000"
          max-retries: "60"
          ignored-name-patterns: |
            dd-gitlab/default-pipeline
            dd-gitlab/test_smoke: [11, 2/2]
            dd-gitlab/test_smoke: [8, 2/2]
