name: Prune old pull requests
on:
  schedule:
    - cron: '0 3 1 * *'
  workflow_dispatch:

jobs:
  prune-old-pull-requests:
    name: Prune old pull requests
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - name: Prune old pull requests
      uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
      with:
        days-before-stale: -1 # Disable general stale bot
        days-before-pr-stale: 90 # Only enable stale bot for PRs with no activity for 90 days
        stale-pr-message: 'This pull request has been marked as stale because it has not had activity over the past quarter. It will be closed in 7 days if no further activity occurs. Feel free to reopen the PR if you are still working on it.'
        close-pr-message: 'This pull request has been closed because it has not had activity over the past quarter. Feel free to reopen the PR if you are still working on it.'
        stale-pr-label: 'tag: stale'
        operations-per-run: 500
