name: Update Gradle dependencies
on:
  schedule:
    - cron: "0 4 * * 0"
  workflow_dispatch:

jobs:
  update-gradle-dependencies:
    runs-on: ubuntu-latest
    name: Update Gradle dependencies
    permissions:
      contents: read
      id-token: write # Required for OIDC token federation
    steps:
      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/dd-trace-java
          policy: self.update-gradle-dependencies.create-pr

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          submodules: "recursive"

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: |
            8
            11
            17
            21
          cache: 'gradle'

      - name: Update Gradle dependencies
        env:
          ORG_GRADLE_PROJECT_akkaRepositoryToken: ${{ secrets.AKKA_REPO_TOKEN }}
        run: |
          find . -name 'gradle.lockfile' \
            -not -path './dd-smoke-tests/*' \
            -not -path './dd-java-agent/instrumentation/*' \
            -delete
          GRADLE_OPTS="-Dorg.gradle.jvmargs='-Xmx3G -Xms2G'" \
          ./gradlew resolveAndLockAll --write-locks --parallel --stacktrace --no-daemon --max-workers=4
      - name: Check if changes should be committed
        id: check-changes
        run: |
          if [[ -z "$(git status -s)" ]]; then
            echo "No changes to commit, exiting."
            echo "commit_changes=false" >> "$GITHUB_OUTPUT"
            exit 0
          else
            echo "commit_changes=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Pick a branch name
        if: steps.check-changes.outputs.commit_changes == 'true'
        id: define-branch
        run: echo "branch=ci/update-gradle-dependencies-$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
      - name: Commit changes
        if: steps.check-changes.outputs.commit_changes == 'true'
        id: create-commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add --all
          git commit -m "chore: Update Gradle dependencies"
          echo "commit=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
      - name: Push changes
        uses: DataDog/commit-headless@05d7b7ee023e2c7d01c47832d420c2503cd416f3 # action/v2.0.3
        if: steps.check-changes.outputs.commit_changes == 'true'
        with:
          token: "${{ steps.octo-sts.outputs.token }}"
          branch: "${{ steps.define-branch.outputs.branch }}"
          # for scheduled runs, sha is the tip of the default branch
          # for dispatched runs, sha is the tip of the branch it was dispatched on
          head-sha: "${{ github.sha }}"
          create-branch: true
          command: push
          commits: "${{ steps.create-commit.outputs.commit }}"
      - name: Create pull request
        if: steps.check-changes.outputs.commit_changes == 'true'
        env:
          GH_TOKEN: ${{ steps.octo-sts.outputs.token }}
        run: |
          gh pr create --title "Update Gradle dependencies" \
            --base master \
            --head ${{ steps.define-branch.outputs.branch }} \
            --label "tag: dependencies" \
            --label "tag: no release notes" \
            --body "$(cat <<'EOF'
          # What Does This Do

          This PR updates the Gradle dependency locks for common and product modules.

          # Motivation

          Refresh Gradle dependencies to make sure to apply the latest version available when bumping dependencies.

          # Contributor Checklist

          - [ ] Update PR title if a code change is needed to support one of those new dependencies
          EOF
          )"

  update-gradle-dependencies-instrumentation:
    runs-on: ubuntu-latest
    name: Update Instrumentation Gradle dependencies
    permissions:
      contents: read
      id-token: write # Required for OIDC token federation
    steps:
      - uses: DataDog/dd-octo-sts-action@acaa02eee7e3bb0839e4272dacb37b8f3b58ba80 # v1.0.3
        id: octo-sts
        with:
          scope: DataDog/dd-trace-java
          policy: self.update-gradle-dependencies.create-pr

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          submodules: "recursive"

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: |
            8
            11
            17
            21
          cache: 'gradle'

      - name: Update Gradle dependencies
        env:
          ORG_GRADLE_PROJECT_akkaRepositoryToken: ${{ secrets.AKKA_REPO_TOKEN }}
        run: |
          find ./dd-smoke-tests -name 'gradle.lockfile' -delete
          find ./dd-java-agent/instrumentation -name 'gradle.lockfile' -delete
          GRADLE_OPTS="-Dorg.gradle.jvmargs='-Xmx3G -Xms2G'" \
          ./gradlew resolveAndLockAll --write-locks --parallel --stacktrace --no-daemon --max-workers=4
      - name: Check if changes should be committed
        id: check-changes
        run: |
          if [[ -z "$(git status -s)" ]]; then
            echo "No changes to commit, exiting."
            echo "commit_changes=false" >> "$GITHUB_OUTPUT"
            exit 0
          else
            echo "commit_changes=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Pick a branch name
        if: steps.check-changes.outputs.commit_changes == 'true'
        id: define-branch
        run: echo "branch=ci/update-gradle-dependencies-instrumentation-$(date +'%Y%m%d')" >> $GITHUB_OUTPUT
      - name: Commit changes
        if: steps.check-changes.outputs.commit_changes == 'true'
        id: create-commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add --all
          git commit -m "chore: Update instrumentation Gradle dependencies"
          echo "commit=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
      - name: Push changes
        uses: DataDog/commit-headless@05d7b7ee023e2c7d01c47832d420c2503cd416f3 # action/v2.0.3
        if: steps.check-changes.outputs.commit_changes == 'true'
        with:
          token: "${{ steps.octo-sts.outputs.token }}"
          branch: "${{ steps.define-branch.outputs.branch }}"
          # for scheduled runs, sha is the tip of the default branch
          # for dispatched runs, sha is the tip of the branch it was dispatched on
          head-sha: "${{ github.sha }}"
          create-branch: true
          command: push
          commits: "${{ steps.create-commit.outputs.commit }}"
      - name: Create pull request
        if: steps.check-changes.outputs.commit_changes == 'true'
        env:
          GH_TOKEN: ${{ steps.octo-sts.outputs.token }}
        run: |
          gh pr create --title "Update instrumentation Gradle dependencies" \
            --base master \
            --head ${{ steps.define-branch.outputs.branch }} \
            --label "tag: dependencies" \
            --label "tag: no release notes" \
            --body "$(cat <<'EOF'
          # What Does This Do

          This PR updates the Gradle dependency locks for instrumentations and their tests.

          # Motivation

          Refresh Gradle dependencies to make sure to test latest versions of dependencies within their supported versions.

          # Contributor Checklist
          
          - [ ] Update PR title if a code change is needed to support one of those new dependencies
          EOF
          )"
